/* app css stylesheet */

/*General*/

.title-bar h2{
	color: darkblue;
	margin-left: 50px;
}
.title-bar h4{
	color: darkblue;
	margin-left: 50px;
}

/*Navigation*/

.main-nav ul{
	overflow: hidden;
	background-color: lightblue;
	width: 100%;
	/*margin: 2% 0 0 0;*/
	list-style: none;
	float: right;

}

.main-nav li{
	float: left;
	display: block;
	margin: 5px 10px;
	/*color:gray;*/
	
}

.main-nav ul li a {
	color: darkblue;
	padding: 20px 20px;
	display: block;
	text-decoration: none;
	border: 2px solid darkgray;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-transform: uppercase;
}

.main-nav a:hover {
	background-color: gray;
	color: lightblue;
	padding: 20px 20px;
	display: block;
	text-decoration: none;
	border: 2px solid darkblue;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-transform: uppercase;
}

/*Job Results*/

#job-results ul{
  width:100%;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
}
#job-results li{
  line-height:1.5em;
  border-bottom:1px solid #ccc;
  margin: 1%;
  padding: 1%;
  float:left;
  display:inline;
}
#double li  { width:46%;} 
#triple li  { width:30%; } 
#quad li    { width:22%; } 
#six li     { width:16.666%; } 