<!doctype html>
<html ng-app="jobcostApp"  ng-controller="JobListCtrl">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/controllers.js"></script>
	<title ng-bind-template="Beacon Jobs: {{query}}">Beacon Jobs</title>
</head>
<body>

	<div>
		<div class="header">
			<h2>Beacon Contracting</h2>
			<h4>Job Costing</h4>
		</div>
		<div class="main-nav">
			<ul>
				<li class="curb"><a href="#">5-50</a></li>
				<li class="sidewalk"><a href="#">5-60</a></li>
				<li class="paving"><a href="#">5-70</a></li>				
			</ul>
		</div>
		<div id="job-results" class="containter-fluid">
			<div class="row">
				<div class="col-md-9">
					<!-- Body Content -->
					<ul id="triple">
						<li ng-repeat="job in jobs | filter:query | orderBy:orderProp">
							<h5>Job Name: {{job.jobName}}</h5>
							<p><em>Job Code: {{job.jobCode}}</em></p>
							<!-- <p>File Number: {{job.fileNumber}}</p> -->
							<p>Invoice Date: {{job.billingDate}}</p>
							<p>Total Price: ${{job.totalPrice}}</p>
							<br>
						</li>
					</ul>
					<div>
						
					</div>
				</div>
				
				<div class="col-md-3">
					<!-- Sidebar Content -->
					Search: <input ng-model="query">
					<br>
					Sort by:
					<select ng-model="orderProp">
						<option value="jobName">Job Name</option>
						<option value="billingDate">Billing Date</option>
					</select>
					<br>
					<br>
					<p>Order Index: {{orderProp}}</p>
					<p>Showing {{(jobs|filter:query).length}} Jobs</p>
					<div>
						<h5>Summed Total Price:</h5>
						<div ng-if="query == null">
							<p>${{getSumTotalPrice(jobs)}}</p>
						</div>
						<div ng-if="query != null">
							<p>${{getSumTotalPrice((jobs|filter:query))}}</p>	
						</div>
					</div>
					<div>
						<h5>Summed Budget Hours</h5>
						<div ng-if="query == null">
							<p>{{getSumBudgetHrs(jobs)}}</p>
						</div>
						<div ng-if="query != null">
							<p>{{getSumBudgetHrs((jobs|filter:query))}}</p>	
						</div>
						
					</div>
				</div>

			</div>
		</div>
		
	</div>
	<!-- <div class="repeater">
		<table>
			<tr><th>row number</th></tr>
			<tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i+1}}</td></tr>
		</table>
	</div> -->
</body>
</html>
