<div ng-controller="PanelController as panel">
	
		<h4>Job Costing</h4>
	<div class="main-nav">
		<section>
		<ul class="nav nav-pills">
			<li ng-click="panel.selectTab(1); myFilter=null" ng-class="{ active:panel.isSelected(1) }"> All <br>Jobs</li>
			<li ng-click="panel.selectTab(2); myFilter={jobCode:'40'}" ng-class="{ active:panel.isSelected(2) }"> 40 <br>Slabs</li>
			<li ng-click="panel.selectTab(3); myFilter={jobCode:'5-50'}" ng-class="{ active:panel.isSelected(3) }">5-50 <br> Curb</li> 
			<li ng-click="panel.selectTab(4); myFilter={jobCode:'5-60'}" ng-class="{ active:panel.isSelected(4) }">5-60 <br> Sidewalk</li>
			<li ng-click="panel.selectTab(5); myFilter={jobCode:'5-70'}" ng-class="{ active:panel.isSelected(5) }">5-70 <br> Paving</li>		
		</ul>
		</section>
	</div>
	<section> <!-- Body Content -->
		<div id="job-results" class="containter-fluid">
			<div class="row">
				<div class="col-md-9">
					<ul id="triple">
						<li ng-repeat="job in jobs | filter: myFilter | filter:query | orderBy:orderProp">
							<a href="#/jobs/{{job.id}}"><h4>{{job.jobName}}</h4></a>
							<h5>Client: {{job.client}}</h5>
							<p><em>Job Code: {{job.jobCode}}</em></p>
							<!-- <p>File Number: {{job.fileNumber}}</p> -->
							<p>Invoice Date: {{job.billingDate}}</p>
							<p>Total Price: ${{job.totalPrice}}</p>
							<div ng-if="job.pavThickness!=null"><p>Paving Thickness: {{job.pavThickness}}"</p></div>
							<p>Budget Hours: {{job.budgetHrs}} hrs</p>
							<p>Budget Units: {{job.budUnits}} {{job.unit}}</p>
							<p>Budget Yards: {{job.budYds}}</p>
							<br>
						</li>
					</ul>
				<div>	
			</div>
		</div>
	<section> <!-- Sidebar Content -->
			<div class="col-md-3">
				<br>
				Search: <input ng-model="query">
				<br>
				Sort by:
				<select ng-model="orderProp">
					<option value="jobName">Job Name</option>
					<option value="-totalPrice">Total Price</option>
					<option value="-billingDate">Invoice Date (Newest First)</option>
					<option value="-budUnits">Units</option>
				</select>
				<br>
				<br>
				<!-- Production info -->
				<section class="side-info">
					<h3>Production Info:</h3><br>
					<h5>Showing:</h5> 
					<p>{{(jobs|filter:myFilter|filter:query).length}} Jobs</p><br>
					<div> <!-- Total Prices -->
						<h5>Summed Total Price:</h5>
						<div ng-if="myFilter == null && query == null">
							<p>{{getSumTotalPrice(jobs) | currency}}</p>
						</div>
						<div ng-if="myFilter != null && query == null">
							<p><p>{{getSumTotalPrice((jobs|filter:myFilter)) | currency}}</p></p>
						</div>
						<div ng-if="query != null">
							<p>{{getSumTotalPrice((jobs|filter:myFilter|filter:query)) | currency}}</p>	
						</div>
					</div>
					<div> <!-- Budgeted Hours -->
						<h5>Summed Budget Hours:</h5>
						<div ng-if="myFilter == null && query == null">
							<p>{{getSumBudgetHrs(jobs)}}</p>
						</div>
						<div ng-if="myFilter != null && query == null">
							<p><p>{{getSumBudgetHrs((jobs|filter:myFilter))}}</p></p>
						</div>
						<div ng-if="query != null">
							<p>{{getSumBudgetHrs((jobs|filter:myFilter|filter:query))}}</p>	
						</div>
					</div>
					<div> <!-- Average Hours -->
						<h5>Average Budget Hours:</h5>
						<div ng-if="myFilter == null && query == null">
							<p>{{getAvgBudgetHrs(jobs)}}</p>
						</div>
						<div ng-if="myFilter != null && query == null">
							<p><p>{{getAvgBudgetHrs((jobs|filter:myFilter))}}</p></p>
						</div>
						<div ng-if="query != null">
							<p>{{getAvgBudgetHrs((jobs|filter:myFilter|filter:query))}}</p>	
						</div>
					</div>
					<div> <!-- Budget Yds/Hr -->
						<h5>Budgeted Yards / Hour:</h5>
						<div ng-if="myFilter == null && query == null">
							<p>{{getBudYardsPerHr(jobs) | number:3}}</p>
						</div>
						<div ng-if="myFilter != null && query == null">
							<p><p>{{getBudYardsPerHr((jobs|filter:myFilter)) | number:3}}</p></p>
						</div>
						<div ng-if="query != null">
							<p>{{getBudYardsPerHr((jobs|filter:myFilter|filter:query)) |number:3}}</p>	
						</div>
					</div>
					<br>
					<!-- New Job Form -->
					<div>
						<form name="jobForm" ng-controller="JobFormController as jobFormCtrl" 
																ng-submit="jobForm.$valid && jobFormCtrl.addJob(newjob)" novalidate>
						<!-- 	<h3>New Job</h3><br>
							<p><em>Job Code: {{jobFormCtrl.newjob.jobCode}}</em></p>
							<br>
							<p>Budget Yards: {{jobFormCtrl.newjob.budYds}}</p>
							<br>
							<p>Email: {{jobFormCtrl.newjob.email}}</p>
							<br> -->
							<br>
							<button class="large">Add a Job</button>
							<!-- h3>Add a Job:</h3><br>
							<label>Job Code:</label>
							<select ng-model="jobFormCtrl.newjob.jobCode" required>
								<option value="5-50">5-50</option>
								<option value="5-60">5-60</option>
								<option value="5-70">5-70</option>
								<option value="40">40</option>
							</select>
							<br>
							<label >Budget Yds:</label>
							<input type="number" ng-model="jobFormCtrl.newjob.budYds" required>
						 	<label >Email:</label>
						 	<input type="email" ng-model="jobFormCtrl.newjob.email" required>
							<input type="submit" value="Submit">
							<br>
							<div> jobForm.$valid = {{jobForm.$valid}}</div> -->
						</form>
					</div>

		</section>
			</div>

		</div>
	</div>

</div>
