
  
<div class="main-info">
  <h3 id="jName">{{job.jobName}}&nbsp&nbsp-</h3><h3 id="jobCode">&nbsp&nbspCode: {{job.jobCode}}</h3>
  <br>
  <h4>File Number: &nbsp{{job.fileNumber}}</h4>
  <h4 id="billDate">Billing Date: {{job.billingDate}}</h4> 
  <br> 
  <h4>GC or Client: &nbsp{{job.gc}}</h4> <br>
  
</div>
<br>
<table style="width:100%">
<!--   <caption>Detailed Job Info</caption> -->
  <col style="width:10%">
  <col style="width:10%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <tr>
    <th>Total</th>
    <th>Price Per</th>
    <th colspan="3">Yards</th>
    <th colspan="3">{{job.unit}}</th>
    <th colspan="3">Hours</th>
    <th colspan="2">{{job.unit}} per Hour</th>
    <th colspan="2">Yards per Hour</th>
  </tr>
  <tr>
    <th>Price</th>
    <th>{{job.unit}}</th>
    <th>Budgeted</th>
    <th>Actual</th>
    <th>Difference</th>
    <th>Budgeted</th>
    <th>Actual</th>
    <th>Difference</th>
    <th>Budgeted</th>
    <th>Actual</th>
    <th>Difference</th>
    <th>Budgeted</th>
    <th>Actual</th>
    <th>Budgeted</th>
    <th>Actual</th>
  </tr>
  
  <tr>
    <td>{{job.totalPrice | currency : symbol}}</td>
    <td>{{getPricePerUnit(job) | currency : symbol}}</td>
    <td>{{job.budYds}}</td>
    <td>{{job.actYds}}</td> <!-- Add a function that highlights (by adding a class) if the acutal is less than budgeted -->
    <td ng-class='{positive: job.actYds < job.budYds, negative: job.actYds > job.budYds}'>{{job.budYds - job.actYds}}</td>
    <td>{{job.budUnits}}</td>
    <td>{{job.actUnits}}</td>
    <td ng-class='{positive: job.actUnits < job.budUnits, negative: job.actUnits > job.budUnits}'>{{job.budUnits - job.actUnits}}</td>
    <td>140</td>
    <td>120</td>
    <td>20</td>
    <td>0</td>
    <td>0</td>
    <td>{{getBudYardsPerHr(job) | number:2}}</td>
    <td>0</td>
  </tr> 
</table>
<br>
<a href="#/jobs/{{job.id}}">Edit Job Info</a><br>

<br>
<h4>Notes about the job:</h4>

Miscellaneous notes about the job at BOA.

<!-- "fileNumber": "472-11-1816",
      "billingDate": "08/10/2012",
      "jobCode": "5-50",
      "budgetHrs": 80,
      "budUnits": 13,
      "unit": "LF",
      "budYds": 7.5,
      "totalPrice": 300,
      "id": "BOA-Raytown" -->