/* app css stylesheet */

/*General*/
.title-bar{
	border-bottom: 1px solid gray;
}

.title-bar h4{
	color: darkblue;
}

.title-bar h1{
	display: inline-block;
}

.job-nav{
	display: inline-block;
	float: right;
	margin-top: 18px;
}

h1 {
  color: darkblue;
}

body {
	padding-top: 15px;
	margin-left: 35px;
	margin-right: 35px;
}

/*Job Details*/
#jName {
	display: inline-block;
}

#jobCode {
	display: inline-block;

}

/*Tables*/
table, th, td {
  border: 1px solid black;
}
th {
	text-align: center;
}

th, td {
	padding: 10px;
	text-size: 24px;
}

/*Main Info*/
.main-info h4 {
	display: inline-block;
}

.main-info h3 {
	padding-top: 30px;
	color: darkblue;
}

#billDate {
	float: right;
}


/*Navigation*/

.main-nav ul{
	overflow: hidden;
	background-color: lightblue;
	width: 100%;
	/*margin: 2% 0 0 0;*/
	list-style: none;
	float: right;

}

.job-nav ul{
	/*background-color: lightblue;*/
	list-style: none;
	overflow: hidden;
	float: right;
}

.job-nav span,
.job-nav li{
	color: darkblue;
	background-color: lightblue;
	padding: 10px 10px;
	margin: 0;
	display: block;
	text-decoration: none;
	border: 2px solid darkgray;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-transform: uppercase;
}


.main-nav span,
.main-nav li {
	float: left;
	display: block;
	margin: 5px 10px;
	text-align: center;
	/*color:gray;*/
	
}

.main-nav ul li a {
	color: darkblue;
	padding: 20px 20px;
	display: block;
	text-decoration: none;
	border: 2px solid darkgray;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-transform: uppercase;
}

.main-nav span,
.main-nav li{
	color: darkblue;
	padding: 20px 20px;
	width: 120px;
	display: block;
	margin: 5yeahpx 20px;
	text-decoration: none;
	border: 2px solid darkgray;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-transform: uppercase;
}



.main-nav span:hover, span.active {
	background-color: gray;
	color: lightblue;
	padding: 20px 20px;
	display: block;
	text-decoration: none;
	border: 2px solid darkblue;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-transform: uppercase;
}

.main-nav li:hover, li.active {
	background-color: gray;
	color: lightblue;
	padding: 20px 20px;
	display: block;
	text-decoration: none;
	border: 2px solid darkblue;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-transform: uppercase;
}
.job-nav span:hover{
	background-color: gray;
	color: lightblue;
	/*padding: 20px 20px;*/
	display: block;
	text-decoration: none;
	border: 2px solid darkblue;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-transform: uppercase;
}

/*Side Info*/
.side-info *{
	display: inline-block;
}

/*Job Results*/

#job-results ul{
  width:100%;
  margin-top: 10px;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
}
#job-results li{
  line-height:1.5em;
  border-bottom:1px solid #ccc;
  margin: 1%;
  padding: 1%;
  float:left;
  height: 280px;
  display:inline;
}
#double li  { width:46%;} 
#triple li  { width:30%; } 
#quad li    { width:22%; } 
#six li     { width:16.666%; } 